.container {
    margin: 0 auto;
    max-width: 960px;
}

.ui-widget-header {
    border: 1px solid #46b8da;
    background: #5bc0de url("jQueryUI-1.11.4/images/ui-bg_gloss-wave_35_f6a828_500x100.png") 50% 50% repeat-x;
}

.btn-info {
    background-color: #009cd9;
}

.btn-info:hover {
    background-color: #0080b3;
}

.btn-danger {
    background-color: #ED2B29;
}
.btn-danger:hover {
    background-color: #d41412;
}

.rd-blue {
    color: #009BD8;

}

.rd-red {
    color: #ED2B29;
}

.rd-darkred {
    color: #cc0000;
}

.rd-softred {
    color: #f06663;
}

.modal-header {
    margin-top: 0;
    padding-top: 0;
}

#carOptionsForm .chosen-choices {
    border: 1px solid #ccc;
    border-radius: 4px;
    min-height: 34px;
    padding: 6px 12px;
}

body {
    background: url(../images/rd_bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.glyphicon {
    font-size: 14px;
}

#content, #content-car-order {
    position: fixed;
    top: 71px;
    left: 2.5%;
    width: 95%;
    height: 90%;
    margin: 0;
}

#content-login-form, #content-error-page {
    position: fixed;
    top: 71px;
    left: 7.5%;
    width: 85%;
    height: 45%;
    margin: 0;
}

.container {
    background: white;
    margin-bottom: 2em;
    /*min-height: 93.5%;*/
    max-height: 95%;
    overflow: auto;
    padding: 2em 3em 2em 3em;
    width: 100%;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

.container-car-order {
    min-height: 93.5%;
}

.container::-webkit-scrollbar {
    /* This is the magic bit */
    display: none;
}

#content-login-form .container {
    max-height: none;
}

.view-heading {
    /*margin-bottom: 2em;*/
    padding-left: 3px;
}

.icon-bar {
 background: #cc0000;
}

#edit-view .form-group .col-sm-9 {
    margin-bottom: 10px;
}

.form-button {
    margin-top: 20px;
}

.checkbox-label, .checkbox-input {
    padding-left: 0;
}

/*.btn-form {*/
    /*margin-bottom: 15px;*/
/*}*/

.entry .col-sm-8 {
    padding-right: 0;
    padding-left: 6px;
}

.entry .col-sm-1, .entry .col-sm-3 {
    padding-left: 0;
}

.entry-margin-top {
    margin-top: 10px;
}

@media (max-width: 768px) {
    .entry .col-sm-8 {
        float:left;
        min-width: 90%;
        padding-left: 0;
    }

    .entry .col-sm-1 {
        float: left;
    }

    .entry .control-label {
        display: block;
    }

    .pack-items-btn {
        clear: both;
    }
}

@media (min-width: 768px) {
    .control-label {
        text-align: left;
    }

    #content {
        top: 71px;
        left: 10%;
        width: 80%;
        height: 90%;
        margin: 0;
    }

    #content-login-form, #content-error-page {
        position: fixed;
        top: 71px;
        left: 25%;
        width: 50%;
        height: 35%;
        margin: 0;
    }
}

@media (min-width: 1530px) {
    #content-login-form, #content-error-page {
        position: fixed;
        top: 71px;
        left: 35%;
        width: 30%;
        height: 35%;
        margin: 0;
    }
}

@media (min-height: 400px) {
    #content-login-form, #content-error-page {
        top: 30%;
    }
}

@media (min-height: 620px) {
    .container-car-order {
        min-height: 85%;
    }
}

@media (max-width: 768px) and (min-height: 400px) {
    #content-login-form, #content-error-page {
        top: 25%;
    }
}

.disableClick {
    pointer-events: none;
}