<!DOCTYPE html>
<html manifest="offline.manifest" lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/general.fragment :: head"></head>
<body>
<div th:replace="fragments/general.fragment :: header"></div>
<div id="content">
    <div class="container">
        <div class="row">
            <div class="view-heading">
                <h1 class="rd-blue" th:if="${car.id == null}" th:text="#{msgFleetCarDetail.title_create}"></h1>

                <h1 class="rd-blue" th:if="${car.id != null}" th:text="#{msgFleetCarDetail.title_edit}"></h1>
                <hr/>
            </div>
            <div th:replace="./fragments/general.fragment :: error(${error})"></div>

            <form id="edit-view" action="#" th:action="@{/fleet/cars/}" method="post" th:object="${car}">

                <div class="form-group" th:class="${#fields.hasErrors('make')}? 'has-error form-group':'form-group'">
                    <label class="col-sm-3 control-label" th:for="${#ids.next('make')}">
                        <span th:text="#{msgFleetCarDetail.make}"></span>:</label>

                    <div class="col-sm-9">
                        <input type="text" th:field="*{make}" class="form-control"/>
                        <span th:if="${#fields.hasErrors('make')}" class="help-block" th:errors="*{make}"></span>
                    </div>
                </div>

                <div class="form-group" th:class="${#fields.hasErrors('model')}? 'has-error form-group':'form-group'">
                    <label class="col-sm-3 control-label" th:for="${#ids.next('model')}">
                        <span th:text="#{msgFleetCarDetail.model}"></span>:</label>

                    <div class="col-sm-9">
                        <input type="text" th:field="*{model}" class="form-control"/>
                        <span th:if="${#fields.hasErrors('model')}" class="help-block" th:errors="*{model}"></span>
                    </div>
                </div>

                <div class="form-group" th:class="${#fields.hasErrors('functionalLevel')}? 'has-error form-group':'form-group'">
                    <label class="col-sm-3 control-label" th:for="${#ids.next('functionalLevel')}">
                        <span th:text="#{msgFleetCarDetail.functional_level}"></span>:</label>

                    <div class="col-sm-9">
                        <input type="number" th:field="*{functionalLevel}" class="form-control"/>
                        <span th:if="${#fields.hasErrors('functionalLevel')}" class="help-block"
                              th:errors="*{functionalLevel}"></span>
                    </div>
                </div>

                <div class="form-group" th:class="${#fields.hasErrors('description')}? 'has-error form-group':'form-group'">
                    <label class="col-sm-3 control-label" th:for="${#ids.next('description')}">
                        <span th:text="#{msgFleetCarDetail.description}"></span>:</label>

                    <div class="col-sm-9">
                        <input type="text" th:field="*{description}" class="form-control"/>
                        <span th:if="${#fields.hasErrors('description')}" class="help-block"
                              th:errors="*{description}"></span>
                    </div>
                </div>

                <div class="form-group" th:class="${#fields.hasErrors('packs')}? 'has-error form-group':'form-group'">
                    <label class="col-sm-3 control-label" th:for="${#ids.next('packs')}">
                        <span th:text="#{msgFleetCarDetail.packs}"></span>:</label>

                    <div class="col-sm-9">
                        <select th:field="*{packs}" class="form-control chosen-select" name="packs" multiple="multiple"
                                style="width: 100%;">
                            <option th:each="pack : ${allPacks}" th:value="${pack.id}"
                                    th:text="${pack.name}"></option>
                        </select>
                        <span th:if="${#fields.hasErrors('packs')}" class="help-block" th:errors="*{packs}"></span>
                    </div>
                </div>

                <div class="form-group" th:class="${#fields.hasErrors('tyreType')}? 'has-error form-group':'form-group'">
                    <label class="col-sm-3 control-label" th:for="${#ids.next('tyreType')}">
                        <span th:text="#{msgFleetCarDetail.tyre_type}"></span>:</label>

                    <div class="col-sm-9">
                        <select th:name="tyreType" class="form-control">
                            <option th:field="*{tyreType}"
                                    th:each="tyreType : ${T(com.realdolmen.rdfleet.domain.TyreType).values()}"
                                    th:value="${tyreType}" th:text="#{${'msgFleetCompanyCarDetail.' + tyreType}}"></option>
                        </select>
                        <span th:if="${#fields.hasErrors('tyreType')}" class="help-block"
                              th:errors="*{tyreType}"></span>
                    </div>
                </div>
                <div class="form-group" th:class="${#fields.hasErrors('fuelType')}? 'has-error form-group':'form-group'">
                    <label class="col-sm-3 control-label" th:for="${#ids.next('fuelType')}">
                        <span th:text="#{msgFleetCarDetail.fuel_type}"></span>:</label>

                    <div class="col-sm-9">
                        <select th:name="fuelType" class="form-control">
                            <option th:field="*{fuelType}"
                                    th:each="fuelType : ${T(com.realdolmen.rdfleet.domain.FuelType).values()}"
                                    th:value="${fuelType}" th:text="#{${'msgFleetCompanyCarDetail.' + fuelType}}"></option>
                        </select>
                        <span th:if="${#fields.hasErrors('fuelType')}" class="help-block"
                              th:errors="*{fuelType}"></span>
                    </div>
                </div>

                <div class="form-group" th:class="${#fields.hasErrors('carType')}? 'has-error form-group':'form-group'">
                    <label class="col-sm-3 control-label" th:for="${#ids.next('carType')}">
                        <span th:text="#{msgFleetCarDetail.car_type}"></span>:</label>

                    <div class="col-sm-9">
                        <select th:name="carType" class="form-control">
                            <option th:field="*{carType}"
                                    th:each="carType : ${T(com.realdolmen.rdfleet.domain.CarType).values()}"
                                    th:value="${carType}" th:text="#{${'msgFleetCompanyCarDetail.' + carType}}"></option>
                        </select>
                        <span th:if="${#fields.hasErrors('carType')}" class="help-block" th:errors="*{carType}"></span>
                    </div>
                </div>

                <div class="form-group" th:class="${#fields.hasErrors('idealKm')}? 'has-error form-group':'form-group'">
                    <label class="col-sm-3 control-label" th:for="${#ids.next('idealKm')}">
                        <span th:text="#{msgFleetCarDetail.ideal_km}"></span>:</label>

                    <div class="col-sm-9"><input type="number" th:field="*{idealKm}" class="form-control"/>
                                    <span th:if="${#fields.hasErrors('idealKm')}" class="help-block"
                                          th:errors="*{idealKm}"></span>
                    </div>
                </div>

                <div class="form-group" th:class="${#fields.hasErrors('maxKm')}? 'has-error form-group':'form-group'">
                    <label class="col-sm-3 control-label" th:for="${#ids.next('maxKm')}">
                        <span th:text="#{msgFleetCarDetail.max_km}"></span>:</label>

                    <div class="col-sm-9"><input type="number" th:field="*{maxKm}"
                                                  class="form-control"/>
                                        <span th:if="${#fields.hasErrors('maxKm')}" class="help-block"
                                              th:errors="*{maxKm}"></span>
                    </div>
                </div>

                <div class="form-group" th:class="${#fields.hasErrors('listPrice')}? 'has-error form-group':'form-group'">
                    <label class="col-sm-3 control-label" th:for="${#ids.next('listPrice')}">
                        <span th:text="#{msgFleetCarDetail.list_price}"></span>:</label>

                    <div class="col-sm-9"><input type="number" step="0.01" th:field="*{listPrice}"
                                                  class="form-control"/>
                        <span th:if="${#fields.hasErrors('listPrice')}" class="help-block"
                              th:errors="*{listPrice}"></span>
                    </div>
                </div>

                <div class="form-group" th:class="${#fields.hasErrors('benefit')}? 'has-error form-group':'form-group'">
                    <label class="col-sm-3 control-label"
                           th:for="${#ids.next('benefit')}">
                        <span th:text="#{msgFleetCarDetail.benefit}"></span>:</label>

                    <div class="col-sm-9"><input type="number" step="0.01"
                                                  th:field="*{benefit}" class="form-control"/>
                                                <span th:if="${#fields.hasErrors('benefit')}" class="help-block"
                                                      th:errors="*{benefit}"></span>
                    </div>
                </div>

                <div class="form-group"
                     th:class="${#fields.hasErrors('amountUpgrade')}? 'has-error form-group':'form-group'">
                    <label class="col-sm-3 control-label"
                           th:for="${#ids.next('amountUpgrade')}">
                        <span th:text="#{msgFleetCarDetail.upgrading_cost}"></span>:</label>

                    <div class="col-sm-9"><input type="number" step="0.01"
                                                  th:field="*{amountUpgrade}"
                                                  class="form-control"/>
                        <span th:if="${#fields.hasErrors('amountUpgrade')}" class="help-block"
                              th:errors="*{amountUpgrade}"></span>
                    </div>
                </div>

                <div class="form-group"
                     th:class="${#fields.hasErrors('amountDowngrade')}? 'has-error form-group':'form-group'">
                    <label class="col-sm-3 control-label"
                           th:for="${#ids.next('amountDowngrade')}">
                        <span th:text="#{msgFleetCarDetail.downgrading_cost}"></span>:</label>

                    <div class="col-sm-9"><input type="number" step="0.01"
                                                  th:field="*{amountDowngrade}"
                                                  class="form-control"/>
                        <span th:if="${#fields.hasErrors('amountDowngrade')}" class="help-block"
                              th:errors="*{amountDowngrade}"></span>
                    </div>
                </div>

                <div class="form-group"
                     th:class="${#fields.hasErrors('co2')}? 'has-error form-group':'form-group'">
                    <label class="col-sm-3 control-label"
                           th:for="${#ids.next('co2')}">
                        <span th:text="#{msgFleetCarDetail.co2_emission}"></span>:</label>

                    <div class="col-sm-9"><input type="number" th:field="*{co2}"
                                                  class="form-control"/>
                                                            <span th:if="${#fields.hasErrors('co2')}" class="help-block"
                                                                  th:errors="*{co2}"></span>
                    </div>
                </div>

                <div class="form-group"
                     th:class="${#fields.hasErrors('fiscHp')}? 'has-error form-group':'form-group'">
                    <label class="col-sm-3 control-label"
                           th:for="${#ids.next('fiscHp')}">
                        <span th:text="#{msgFleetCarDetail.fisc_hp}"></span>:</label>

                    <div class="col-sm-9"><input type="number"
                                                  th:field="*{fiscHp}"
                                                  class="form-control"/>
                                                                <span th:if="${#fields.hasErrors('fiscHp')}"
                                                                      class="help-block" th:errors="*{fiscHp}"></span>
                    </div>
                </div>

                <div class="form-group"
                     th:class="${#fields.hasErrors('timeOfDeliveryInDays')}? 'has-error form-group':'form-group'">
                    <label class="col-sm-3 control-label"
                           th:for="${#ids.next('timeOfDeliveryInDays')}">
                        <span th:text="#{msgFleetCarDetail.time_of_delivery_days}"></span>:</label>

                    <div class="col-sm-9"><input
                            th:field="*{timeOfDeliveryInDays}"
                            class="form-control"/>
                        <span th:if="${#fields.hasErrors('timeOfDeliveryInDays')}" class="help-block"
                              th:errors="*{timeOfDeliveryInDays}"></span>
                    </div>
                </div>

                <div class="form-group" th:class="${#fields.hasErrors('towingBracketPossibility')}? 'has-error form-group col-sm-12':'form-group col-sm-12'">
                    <label class="col-sm-3 control-label checkbox-label" th:for="${#ids.next('towingBracketPossibility')}">
                        <span th:text="#{msgFleetCarDetail.towing_bracket_available}"></span>:
                    </label>
                    <input class="checkbox col-sm-1 checkbox-input" type="checkbox" th:field="*{towingBracketPossibility}"/>
                    <span th:if="${#fields.hasErrors('towingBracketPossibility')}" class="help-block"
                          th:errors="*{towingBracketPossibility}"></span>
                </div>

                <div class="form-group" th:class="${#fields.hasErrors('gps')}? 'has-error form-group col-sm-12':'form-group col-sm-12'">
                    <label class="col-sm-3 control-label checkbox-label" th:for="${#ids.next('gps')}">
                        <span th:text="#{msgFleetCarDetail.gps_available}"></span>:
                    </label>
                    <input class="checkbox col-sm-1 checkbox-input" type="checkbox" th:field="*{gps}"/>
                    <span th:if="${#fields.hasErrors('gps')}" class="help-block"
                          th:errors="*{gps}"></span>
                </div>

                <div class="form-group" th:class="${#fields.hasErrors('bluetooth')}? 'has-error form-group col-sm-12':'form-group col-sm-12'">
                    <label class="col-sm-3 control-label checkbox-label" th:for="${#ids.next('bluetooth')}">
                        <span th:text="#{msgFleetCarDetail.bluetooth_available}"></span>:
                    </label>
                    <input class="checkbox col-sm-1 checkbox-input" type="checkbox" th:field="*{bluetooth}"/>
                    <span th:if="${#fields.hasErrors('bluetooth')}" class="help-block"
                          th:errors="*{bluetooth}"></span>
                </div>

                <input type="hidden" th:field="*{id}"/>
                <input type="hidden" th:field="*{version}"/>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <button th:if="${car.id == null}" type="submit" class="btn btn-primary col-sm-4 form-button">
                            <span th:text="#{msgFleetCarDetail.create}"></span>
                        </button>
                        <button th:if="${car.id != null}" type="submit" class="btn btn-primary col-sm-4 form-button">
                            <span th:text="#{msgFleetCarDetail.update}"></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>


    </div>
</div>
<div th:replace="fragments/general.fragment :: div.scripts"></div>
<script th:src="@{/js/chosen.jquery.min.js}"></script>
<script th:src="@{/js/prism.js}"></script>
<script>
    $('.chosen-select').chosen();
</script>
</body>
</html>