<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/general.fragment :: head"></head>
<body>
<div th:replace="fragments/general.fragment :: header"></div>
<div id="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="has-error" th:if="${error != null}">
                    <span class="help-block" th:text="${error}"/>
                </div>

                <h4 th:if="${carOption.id == null}">Create an option</h4>
                <h4 th:if="${carOption.id != null}">Edit an option</h4>

                <form action="#" th:action="@{/fleet/options/}" method="post" th:object="${carOption}">

                    <div class="form-group" th:class="${#fields.hasErrors('description')}? 'has-error'">
                        <label th:for="${#ids.next('description')}">Description:</label>
                        <input type="text" th:field="*{description}" class="form-control"/>
                        <span th:if="${#fields.hasErrors('description')}" class="help-block"
                              th:errors="*{description}"></span>
                    </div>

                    <input type="hidden" th:field="*{id}"/>
                    <input type="hidden" th:field="*{version}"/>
                <span th:if="${carOption.id == null}">
                    <button type="submit" class="btn btn-primary">Create</button>
                </span>
                <span th:if="${carOption.id != null}">
                    <button type="submit" class="btn btn-primary">Update</button>
                </span>
                </form>
            </div>
        </div>


    </div>
</div>
<div th:replace="fragments/general.fragment :: div.scripts"></div>
<script th:src="@{/js/chosen.jquery.min.js}"></script>
<script th:src="@{/js/prism.js}"></script>
<script>
    $('.chosen-select').chosen();
</script>
</body>
</html>