<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/general.fragment :: head"></head>
<body>
<div th:replace="fragments/general.fragment :: header"></div>
<div id="content">
    <div class="container">
        <div class="row">
            <div class="view-heading">
                <h1 class="rd-blue" th:if="${carOption.id == null}">Create an option</h1>
                <h1 class="rd-blue" th:if="${carOption.id != null}">Edit option</h1>
                <hr/>
            </div>
            <div th:replace="./fragments/general.fragment :: error(${error})"></div>

            <form id="edit-view" action="#" th:action="@{/fleet/options/}" method="post" th:object="${carOption}">

                <div class="form-group"
                     th:class="${#fields.hasErrors('description')}? 'has-error form-group':'form-group'">
                    <label class="col-sm-3 control-label" th:for="${#ids.next('description')}">Description:</label>

                    <div class="col-sm-9">
                        <input type="text" th:field="*{description}" class="form-control"/>
                        <span th:if="${#fields.hasErrors('description')}" class="help-block"
                              th:errors="*{description}"></span>
                    </div>
                </div>

                <input type="hidden" th:field="*{id}"/>
                <input type="hidden" th:field="*{version}"/>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <button th:if="${carOption.id == null}" type="submit" class="btn btn-primary col-sm-4 btn-form form-button">Create</button>
                        <button th:if="${carOption.id != null}" type="submit" class="btn btn-primary col-sm-4 btn-form form-button">Update</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div th:replace="fragments/general.fragment :: div.scripts"></div>
<script th:src="@{/js/chosen.jquery.min.js}"></script>
<script th:src="@{/js/prism.js}"></script>
<script>
    $('.chosen-select').chosen();
</script>
</body>
</html>