<!DOCTYPE html>
<html manifest="offline.manifest" lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/general.fragment :: head"></head>
<body>
<div th:replace="fragments/general.fragment :: header"></div>
<div id="content">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="view-heading">
                    <h1 class="rd-blue" th:text="#{msgFleetCarOptionList.title}"></h1>
                    <hr/>
                </div>
                <div th:replace="./fragments/general.fragment :: error(${error})"></div>
                <table class="table table-striped table-hover" id="optionTable">
                    <thead>
                    <tr>
                        <th th:text="#{msgFleetCarOptionList.description}"></th>
                        <th th:text="#{msgFleetCarOptionList.edit}"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="option : ${optionList}">
                        <td th:text="${option.description}"></td>
                        <td class="text-right"><a class="btn btn-info btn-s"
                                                  th:href="${#mvc.url('COMC#goToEditPage').arg(0, option.id).build()}">
                            <span th:text="#{msgFleetCarOptionList.edit}"></span>
                        </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <a class="btn btn-info btn-lg btn-form" th:href="${#mvc.url('COMC#createOption').build()}">
                    <span th:text="#{msgFleetCarOptionList.add_new_option}"></span>
                </a>
            </div>
        </div>


    </div>
</div>
<div th:replace="fragments/general.fragment :: div.scripts"></div>
<script>
    $(document).ready(function () {
        $('#optionTable').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copy', 'excel', 'pdf'
            ]
        });
    });
</script>
</body>
</html>