<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="./fragments/fragments :: head"></head>
<body>
<div th:replace="./fragments/fragments :: header"></div>
<div class="container">
    <div class="row">
        <div class="col-lg-12">

            <div class="col-lg-12">
                <h4>Company car details</h4>
                <table class="table table-striped">
                    <tr>
                        <td>License plate</td>
                        <td th:text="${employeeCar.licensePlate}"></td>
                    </tr>
                    <tr>
                        <td>Mileage</td>
                        <td th:text="${employeeCar.mileage}"></td>
                    </tr>
                    <tr>
                        <td>Car Status</td>
                        <td th:text="${employeeCar.carStatus}"></td>
                    </tr>
                    <tr>
                        <td>Car options</td>
                        <td>
                            <span th:each="option : ${employeeCar.carOptions}">
                                <span th:text="${option.description}"></span><br/>
                            </span>
                        </td>
                    </tr>
                </table>
            </div>


            <div class="col-lg-7">

                <h1 th:text="${employeeCar.selectedCar.make}"></h1>

                <h3 th:text="${employeeCar.selectedCar.model}"></h3>

                <h4>Functional level: <span th:text="${employeeCar.selectedCar.functionalLevel}"></span></h4>

                <br/>
                <table class="table table-striped">
                    <tr>
                        <td><h6>Tyre type:</h6></td>
                        <td th:text="${employeeCar.selectedCar.tyreType}"></td>
                    </tr>
                    <tr>
                        <td><h6>Fuel type:</h6></td>
                        <td th:text="${employeeCar.selectedCar.fuelType}"></td>
                    </tr>
                    <tr>
                        <td><h6>Towing bracket:</h6></td>
                        <td th:text="${employeeCar.selectedCar.towingBracketPossibility}"></td>
                    </tr>
                    <tr>
                        <td><h6>Gps:</h6></td>
                        <td th:text="${employeeCar.selectedCar.gps}"></td>
                    </tr>
                    <tr>
                        <td><h6>Bluetooth:</h6></td>
                        <td th:text="${employeeCar.selectedCar.bluetooth}"></td>
                    </tr>
                    <tr>
                        <td><h6>co2:</h6></td>
                        <td th:text="${employeeCar.selectedCar.co2}"></td>
                    </tr>
                    <tr>
                        <td><h6>Fiscal hp:</h6></td>
                        <td th:text="${employeeCar.selectedCar.fiscHp}"></td>
                    </tr>
                    <tr>
                        <td><h6>Ideal km:</h6></td>
                        <td th:text="${employeeCar.selectedCar.idealKm}"></td>
                    </tr>
                    <tr>
                        <td><h6>Max km:</h6></td>
                        <td th:text="${employeeCar.selectedCar.maxKm}"></td>
                    </tr>
                </table>
            </div>
            <div class="col-lg-5">
                <div id="info" class="well">
                    <h3 class="modal-header">Additional info</h3>
                    <h4>Price: <span th:text="${employeeCar.selectedCar.listPrice}"></span></h4>
                    <h4>Benefit: <span th:text="${employeeCar.selectedCar.benefit}"></span></h4>
                    <h4>Amount for upgrade: <span th:text="${employeeCar.selectedCar.amountUpgrade}"></span></h4>
                    <h4>Amount for downgrade: <span th:text="${employeeCar.selectedCar.amountDowngrade}"></span></h4>
                    <h4>Time of delivery in days: <span th:text="${employeeCar.selectedCar.timeOfDeliveryInDays.toDays()}"></span></h4>
                </div>
                <div id="packs" class="well"  th:if="${employeeCar.selectedCar.packs.size() > 0}">
                    <h3 class="modal-header">Packs</h3>

                    <div th:each="pack : ${employeeCar.selectedCar.packs}">
                        <h4 th:text="${pack.name}"></h4>

                        <div th:each="item : ${pack.items}">
                            <h6 th:text="${item}"></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/fragments :: div.scripts"></div>
</body>
</html>