<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="./fragments/general.fragment :: head"></head>
<body>
<div th:replace="./fragments/general.fragment :: header"></div>
<div id="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="view-heading">
                    <h1 th:text="#{msgFleetCompanyCarDetail.title}"></h1>
                    <hr/>
                </div>
                <table class="table table-striped">
                    <tr>
                        <td th:text="#{msgFleetCompanyCarDetail.license_plate}"></td>
                        <td th:text="${employeeCar.licensePlate}"></td>
                    </tr>
                    <tr>
                        <td th:text="#{msgFleetCompanyCarDetail.mileage}"></td>
                        <td><span th:text="${employeeCar.mileage}"></span> km</td>
                    </tr>
                    <tr>
                        <td th:text="#{msgFleetCompanyCarDetail.car_status}"></td>
                        <td th:text="${employeeCar.carStatus}"></td>
                    </tr>
                    <tr>
                        <td th:text="#{msgFleetCompanyCarDetail.car_options}"></td>
                        <td>
                            <span th:each="option : ${employeeCar.carOptions}">
                                <span th:text="${option.description}"></span><br/>
                            </span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h2 style="padding-left: 15px" th:text="${employeeCar.selectedCar.make}"></h2>

                <div class="col-lg-7">
                    <th:block
                            th:replace="./fragments/car.detail.fragment :: carDetailMain(${employeeCar.selectedCar})"/>
                </div>

                <div class="col-lg-5">
                    <div th:replace="./fragments/car.detail.fragment :: carDetailInfo(${employeeCar.selectedCar})"></div>
                    <div th:replace="./fragments/car.detail.fragment :: carDetailPacks(${employeeCar.selectedCar})"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/general.fragment :: div.scripts"></div>
</body>
</html>