<!DOCTYPE html>
<!-- TODO Exercise 4: Add the Thymeleaf Security namespace -->
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/fragments :: head"></head>
<body>
<div th:replace="fragments/fragments :: header"></div>
<div class="container">
    <div th:replace="fragments/fragments :: div#page-header"></div>
    <div class="row">
        <div class="col-lg-12">
            <h4>Employee List</h4>

            <div class="has-error" th:if="${error != null}">
                <span class="help-block" th:text="${error}"/>
            </div>
            <table class="table table-striped table-hover" id="employeeTable">
                <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>FunctionalLevel</th>
                    <th>Current Car</th>
                    <th>Car History</th>
                    <th class="text-right">Remove from service</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="rdEmployee : ${employeeList}">
                    <form id='myform' method='POST' th:action="@{/fleet/employees/update}" th:object="${rdEmployee}">

                        <td th:text="${rdEmployee.firstName}"></td>
                        <td th:text="${rdEmployee.lastName}"></td>
                        <td>
                            <input type='button' value='-' class='qtyminus' field='quantity'/>
                            <span th:text="${rdEmployee.functionalLevel}"></span>
                            <input type='text' name='quantity' value='0' class='qty'/>
                            <input type='button' value='+' class='qtyplus' field='quantity'/>
                        </td>
                        <td th:text="${rdEmployee.currentOrder.orderedCar.licensePlate}"></td>
                        <!--<td>To be continued</td>-->
                        <td><button type="submit" class="btn btn-primary">Send Request</button></td>
                        <td class="text-right"><a class="btn btn-danger btn-xs"
                                                  th:href="${#mvc.url('REMC#removeFromService').arg(0, rdEmployee.id).build()}">Remove
                            from service</a></td>
                    </form>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <hr/>
</div>
<div th:replace="fragments/fragments :: div.scripts"></div>
<script>
    $(document).ready(function () {
        $('#employeeTable').DataTable();
    });
</script>
</body>
</html>