<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/general.fragment :: head"></head>
<body>
<div th:replace="fragments/general.fragment :: header"></div>
<div id="content">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="view-heading">
                    <h1 class="rd-blue"><span th:text="#{msgFleetEmployeeCarHistory.title}"></span> <span th:text="${employee.firstName}"></span> <span
                            th:text="${employee.lastName}"></span></h1>
                    <hr/>
                </div>
                <div th:replace="./fragments/general.fragment :: error(${error})"></div>
                <table class="table table-striped table-hover" id="carTable">
                    <thead>
                    <tr>
                        <th th:text="#{msgFleetEmployeeCarHistory.make}"></th>
                        <th th:text="#{msgFleetEmployeeCarHistory.model}"></th>
                        <th th:text="#{msgFleetEmployeeCarHistory.license_plate}"></th>
                        <th th:text="#{msgFleetEmployeeCarHistory.mileage}"></th>
                        <th th:text="#{msgFleetEmployeeCarHistory.car_status}"></th>
                        <th th:text="#{msgFleetEmployeeCarHistory.date_received}"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="order : ${employee.orderHistory}">
                        <td th:text="${order.orderedCar.selectedCar.make}"></td>
                        <td th:text="${order.orderedCar.selectedCar.model}"></td>
                        <td th:if="${order.orderedCar.carStatus != T(com.realdolmen.rdfleet.domain.CarStatus).IN_USE and order.orderedCar.carStatus != T(com.realdolmen.rdfleet.domain.CarStatus).PENDING}">
                            <a th:href="${#mvc.url('CCMC#viewCompanyCar').arg(0, order.orderedCar.licensePlate).build()}"><span
                                    th:text="${order.orderedCar.licensePlate}"></span></a>
                        </td>
                        <td th:if="${order.orderedCar.carStatus == T(com.realdolmen.rdfleet.domain.CarStatus).IN_USE or order.orderedCar.carStatus == T(com.realdolmen.rdfleet.domain.CarStatus).PENDING}">
                            <a th:href="${#mvc.url('CCMC#viewCompanyCarWithEmployee').arg(0, order.orderedCar.licensePlate).build()}"><span
                                    th:text="${order.orderedCar.licensePlate}"></span></a>
                        </td>
                        <td th:text="${#numbers.formatDecimal(order.orderedCar.mileage, 0, 'DEFAULT', 0, 'DEFAULT')}"></td>
                        <td th:text="${order.orderedCar.carStatus}"></td>
                        <td th:text="${{order.dateReceived}}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>


    </div>
</div>
<div th:replace="fragments/general.fragment :: div.scripts"></div>
<script>
    $(document).ready(function () {
        $('#carTable').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copy', 'excel', 'pdf'
            ]
        });
    });
</script>
</body>
</html>