<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/general.fragment :: head"></head>
<body>
<div th:replace="fragments/general.fragment :: header"></div>
<div id="content">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="view-heading">
                    <h1 class="rd-blue" th:text="#{msgFleetEmployeeList.title}"></h1>
                    <hr/>
                </div>
                <div th:replace="./fragments/general.fragment :: error(${error})"></div>

                <div th:replace="./fragments/table.fragment :: employeeTable(${rdEmployee})"></div>
            </div>
        </div>


    </div>
</div>
<div th:replace="fragments/general.fragment :: div.scripts"></div>
<script th:inline="javascript">
    $(document).ready(function () {
        $('#employeeTable').dataTable({
            dom: 'Bfrtip',
            buttons: [
                'copy', 'excel', 'pdf'
            ]
        }).columnFilter({
            aoColumns: [
                {}, {}, {}, {
                    type: "checkbox",
                    bRegex: true,
                    values: [{value: 'Pending request', label: 'Pending requests'}, {
                        value: 'No car assigned',
                        label: 'Unassigned cars'
                    }, {value: '[0-9]-[A-Z]{3}-[0-9]{3}', label: 'License plates'}]
                }, null, null]
        });
    });
</script>
</body>
</html>