<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/general.fragment :: head"></head>
<body>
<div th:replace="fragments/general.fragment :: header"></div>
<div id="content">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="view-heading">
                    <h1>Pack list</h1>
                    <hr/>
                </div>
                <div th:replace="./fragments/general.fragment :: error(${error})"></div>
                <table class="table table-striped table-hover" id="packTable">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Items</th>
                        <th>Edit</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="pack : ${packList}">
                        <td th:text="${pack.name}"></td>
                        <td>
                        <span th:each="item : ${pack.items}">
                            <span th:text="${item}"></span><br/>
                        </span>
                        </td>
                        <td class="text-right"><a class="btn btn-info btn-s"
                                                  th:href="${#mvc.url('PMC#goToEditPage').arg(0, pack.id).build()}">Edit</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <a class="btn btn-info btn-lg btn-form" th:href="${#mvc.url('PMC#createPack').build()}">Add a new pack</a>
            </div>
        </div>


    </div>
</div>
<div th:replace="fragments/general.fragment :: div.scripts"></div>
<script>
    $(document).ready(function () {
        $('#packTable').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copy', 'excel', 'pdf'
            ]
        });
    });
</script>
</body>
</html>