<div class="row">
    <table st-table="cars" class="table table-striped">
        <thead>
        <tr>
            <th st-sort="make">Make</th>
            <th st-sort="functionalLevel">Functional level</th>
            <th st-sort="model">Model</th>
        </tr>
        <tr>
            <th>
                <input st-search="make" placeholder="search by make" class="input-sm form-control" type="search"/>
            </th>
            <th>
                <input st-search="functionalLevel" placeholder="search by functional level" class="input-sm form-control" type="search"/>
            </th>
            <th>
                <input st-search="model" placeholder="search by model" class="input-sm form-control" type="search"/>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in cars">
            <td>{{row.make}}</td>
            <td>{{row.functionalLevel}}</td>
            <td>{{row.model}}</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="3" class="text-center"  st-pagination="" st-items-by-page="itemsByPage">
            </td>
        </tr>
        </tfoot>
    </table>
</div>