<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="./fragments/fragments :: head"></head>
<body>
<div th:replace="./fragments/fragments :: header"></div>
<div class="container">
    <!--<div th:replace="./fragments/fragments :: div#page-header"></div>-->
    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-7">
                <div class="has-error" th:if="${error != null}">
                    <span class="help-block" th:text="${error}"/>
                </div>

                <!--<p><img src="pics/<%= firstName %>_<%= lastName %>.jpg" width="160" height="160"/></p>-->

                <h1 th:text="${car.make}"></h1>

                <h3 th:text="${car.model}"></h3>

                <h4>Functional level: <span th:text="${car.functionalLevel}"></span></h4>

                <a class="btn btn-info btn-lg" th:href="${#mvc.url('BCC#getOrderNewCar').arg(0, car.id).build()}">Order</a>

                <br/>
                <table class="table table-striped">
                    <tr>
                        <td><h6>Tyre type:</h6></td>
                        <td th:text="${car.tyreType}"></td>
                    </tr>
                    <tr>
                        <td><h6>Fuel type:</h6></td>
                        <td th:text="${car.fuelType}"></td>
                    </tr>
                    <tr>
                        <td><h6>Towing bracket:</h6></td>
                        <td th:text="${car.towingBracketPossibility}"></td>
                    </tr>
                    <tr>
                        <td><h6>Gps:</h6></td>
                        <td th:text="${car.gps}"></td>
                    </tr>
                    <tr>
                        <td><h6>Bluetooth:</h6></td>
                        <td th:text="${car.bluetooth}"></td>
                    </tr>
                    <tr>
                        <td><h6>co2:</h6></td>
                        <td th:text="${car.co2}"></td>
                    </tr>
                    <tr>
                        <td><h6>Fical hp:</h6></td>
                        <td th:text="${car.fiscHp}"></td>
                    </tr>
                    <tr>
                        <td><h6>Ideal km:</h6></td>
                        <td th:text="${car.idealKm}"></td>
                    </tr>
                    <tr>
                        <td><h6>Max km:</h6></td>
                        <td th:text="${car.maxKm}"></td>
                    </tr>
                </table>
            </div>
            <div class="col-lg-5">
                <div id="info" class="well">
                    <h3 class="modal-header">Additional info</h3>
                    <h4>Price: <span th:text="${car.listPrice}"></span></h4>
                    <h4>Benefit: <span th:text="${car.benefit}"></span></h4>
                    <h4>Amount for upgrade: <span th:text="${car.amountUpgrade}"></span></h4>
                    <h4>Amount for downgrade: <span th:text="${car.amountDowngrade}"></span></h4>
                    <h4>Time of delivery in days: <span th:text="${car.timeOfDeliveryInDays.toDays()}"></span></h4>
                </div>
                <div id="packs" class="well"  th:if="${car.packs.size() > 0}">
                    <h3 class="modal-header">Packs</h3>

                    <div th:each="pack : ${car.packs}">
                        <h4 th:text="${pack.name}"></h4>

                        <div th:each="item : ${pack.items}">
                            <h6 th:text="${item}"></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<div class="row">-->
<!--<div class="col-lg-12">-->
<!--<div class="has-error" th:if="${error != null}">-->
<!--<span class="help-block" th:text="${error}"/>-->
<!--</div>-->
<!--<h4><span th:text="${car.make}"></span> <span th:text="${car.model}"></span></h4>-->
<!--<p><span th:text="${car.listPrice}"></span></p>-->
<!--</div>-->
<!--</div>-->
<div th:replace="fragments/fragments :: div.scripts"></div>
<script>
    $(document).ready(function () {
        $('table').DataTable();
    });
</script>
</body>
</html>