<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="./fragments/fragments :: head"></head>
<body>
<div th:replace="./fragments/fragments :: header"></div>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 style="padding-left: 15px">Summary</h1>

            <div class="col-lg-7">
                <div th:replace="./fragments/fragments :: error(${error})"></div>
                <th:block th:replace="./fragments/car.detail.fragment :: carDetailMain(${car})"/>
                <form action="#" th:action="@{/rd/cars/submitOrder}" style="margin-bottom: 10px;" method="post" >
                    <button type="submit" class="btn btn-info btn-block btn-lg">Confirm</button>
                </form>
                <form action="#" th:action="@{/rd/cars/cancelOrder}" method="post" >
                    <button type="submit" class="btn btn-danger btn-block btn-lg">Cancel</button>
                </form>
            </div>

            <div class="col-lg-5">
                <div id="info" class="well">
                    <h3 class="modal-header">Additional info</h3>
                    <h5>Price paid by company: <div style="float: right"><span class="glyphicon glyphicon-eur"></span> <span th:text="${order.amountPaidByCompany}"></span></div></h5>
                    <h5>Price paid by employee: <div style="float: right"><span class="glyphicon glyphicon-eur"></span> <span th:text="${order.amountPaidByEmployee}"></span></div></h5>
                    <h5>Benefit: <div style="float: right"><span class="glyphicon glyphicon-eur"></span> <span th:text="${employeeCar.selectedCar.benefit}"></span></div></h5>
                    <h5 th:if="${functionalLevel > employeeCar.selectedCar.functionalLevel}">Budget for options: <div style="float: right"><span class="glyphicon glyphicon-eur"></span> <span th:text="${employeeCar.selectedCar.amountDowngrade}"></span></div></h5>
                    <h5>Time of delivery in days: <div style="float: right"><span th:text="${employeeCar.selectedCar.timeOfDeliveryInDays.toDays()}"></span></div></h5>
                </div>
                <div id="caroptions" class="well"  th:if="${employeeCar.carOptions != null and employeeCar.carOptions.size() > 0}">
                    <h3 class="modal-header">Car options</h3>
                    <h4><small>note that these options aren't calculated in the price</small></h4>

                    <div th:each="carOption : ${employeeCar.carOptions}">
                        <h5 th:text="${carOption.description}"></h5>
                    </div>
                </div>
                <div th:replace="./fragments/car.detail.fragment :: carDetailPacks(${car})"></div>
            </div>
        </div>
    </div>
</div>
<!--<div class="container">-->
    <!--<div class="row">-->
        <!--<div class="col-lg-12">-->

            <!--<h1>Summary</h1>-->

            <!--&lt;!&ndash;<div class="col-lg-7">&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="has-error" th:if="${error != null}">&ndash;&gt;-->
                    <!--&lt;!&ndash;<span class="help-block" th:text="${error}"/>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->

                <!--&lt;!&ndash;<h2 th:text="${employeeCar.selectedCar.make}"></h2>&ndash;&gt;-->

                <!--&lt;!&ndash;<h3 th:text="${employeeCar.selectedCar.model}"></h3>&ndash;&gt;-->

                <!--&lt;!&ndash;<h4>Functional level: <span th:text="${employeeCar.selectedCar.functionalLevel}"></span></h4>&ndash;&gt;-->

                <!--&lt;!&ndash;<br/>&ndash;&gt;-->
                <!--&lt;!&ndash;<table class="table table-striped">&ndash;&gt;-->
                    <!--&lt;!&ndash;<tr>&ndash;&gt;-->
                        <!--&lt;!&ndash;<td><h6>Tyre type:</h6></td>&ndash;&gt;-->
                        <!--&lt;!&ndash;<td th:text="${employeeCar.selectedCar.tyreType}"></td>&ndash;&gt;-->
                    <!--&lt;!&ndash;</tr>&ndash;&gt;-->
                    <!--&lt;!&ndash;<tr>&ndash;&gt;-->
                        <!--&lt;!&ndash;<td><h6>Fuel type:</h6></td>&ndash;&gt;-->
                        <!--&lt;!&ndash;<td th:text="${employeeCar.selectedCar.fuelType}"></td>&ndash;&gt;-->
                    <!--&lt;!&ndash;</tr>&ndash;&gt;-->
                    <!--&lt;!&ndash;<tr>&ndash;&gt;-->
                        <!--&lt;!&ndash;<td><h6>Towing bracket:</h6></td>&ndash;&gt;-->
                        <!--&lt;!&ndash;<td>&ndash;&gt;-->
                            <!--&lt;!&ndash;<span th:if="${employeeCar.selectedCar.towingBracketPossibility}" class="glyphicon glyphicon-ok"></span>&ndash;&gt;-->
                            <!--&lt;!&ndash;<span th:if="${!employeeCar.selectedCar.towingBracketPossibility}" class="glyphicon glyphicon-remove"></span>&ndash;&gt;-->
                        <!--&lt;!&ndash;</td>&ndash;&gt;-->
                    <!--&lt;!&ndash;</tr>&ndash;&gt;-->
                    <!--&lt;!&ndash;<tr>&ndash;&gt;-->
                        <!--&lt;!&ndash;<td><h6>Gps:</h6></td>&ndash;&gt;-->
                        <!--&lt;!&ndash;<td>&ndash;&gt;-->
                            <!--&lt;!&ndash;<span th:if="${employeeCar.selectedCar.gps}" class="glyphicon glyphicon-ok"></span>&ndash;&gt;-->
                            <!--&lt;!&ndash;<span th:if="${!employeeCar.selectedCar.gps}" class="glyphicon glyphicon-remove"></span>&ndash;&gt;-->
                        <!--&lt;!&ndash;</td>&ndash;&gt;-->
                    <!--&lt;!&ndash;</tr>&ndash;&gt;-->
                    <!--&lt;!&ndash;<tr>&ndash;&gt;-->
                        <!--&lt;!&ndash;<td><h6>Bluetooth:</h6></td>&ndash;&gt;-->
                        <!--&lt;!&ndash;<td>&ndash;&gt;-->
                            <!--&lt;!&ndash;<span th:if="${employeeCar.selectedCar.bluetooth}" class="glyphicon glyphicon-ok"></span>&ndash;&gt;-->
                            <!--&lt;!&ndash;<span th:if="${!employeeCar.selectedCar.bluetooth}" class="glyphicon glyphicon-remove"></span>&ndash;&gt;-->
                        <!--&lt;!&ndash;</td>&ndash;&gt;-->
                    <!--&lt;!&ndash;</tr>&ndash;&gt;-->
                    <!--&lt;!&ndash;<tr>&ndash;&gt;-->
                        <!--&lt;!&ndash;<td><h6>co2:</h6></td>&ndash;&gt;-->
                        <!--&lt;!&ndash;<td th:text="${employeeCar.selectedCar.co2}"></td>&ndash;&gt;-->
                    <!--&lt;!&ndash;</tr>&ndash;&gt;-->
                    <!--&lt;!&ndash;<tr>&ndash;&gt;-->
                        <!--&lt;!&ndash;<td><h6>Fiscal hp:</h6></td>&ndash;&gt;-->
                        <!--&lt;!&ndash;<td th:text="${employeeCar.selectedCar.fiscHp}"></td>&ndash;&gt;-->
                    <!--&lt;!&ndash;</tr>&ndash;&gt;-->
                    <!--&lt;!&ndash;<tr>&ndash;&gt;-->
                        <!--&lt;!&ndash;<td><h6>Ideal km:</h6></td>&ndash;&gt;-->
                        <!--&lt;!&ndash;<td th:text="${employeeCar.selectedCar.idealKm}"></td>&ndash;&gt;-->
                    <!--&lt;!&ndash;</tr>&ndash;&gt;-->
                    <!--&lt;!&ndash;<tr>&ndash;&gt;-->
                        <!--&lt;!&ndash;<td><h6>Max km:</h6></td>&ndash;&gt;-->
                        <!--&lt;!&ndash;<td th:text="${employeeCar.selectedCar.maxKm}"></td>&ndash;&gt;-->
                    <!--&lt;!&ndash;</tr>&ndash;&gt;-->
                <!--&lt;!&ndash;</table>&ndash;&gt;-->
                <!--&lt;!&ndash;<form action="#" th:action="@{/rd/cars/submitOrder}" style="margin-bottom: 10px;" method="post" >&ndash;&gt;-->
                    <!--&lt;!&ndash;<button type="submit" class="btn btn-info btn-block btn-lg">Confirm</button>&ndash;&gt;-->
                <!--&lt;!&ndash;</form>&ndash;&gt;-->
                <!--&lt;!&ndash;<form action="#" th:action="@{/rd/cars/cancelOrder}" method="post" >&ndash;&gt;-->
                    <!--&lt;!&ndash;<button type="submit" class="btn btn-danger btn-block btn-lg">Cancel</button>&ndash;&gt;-->
                <!--&lt;!&ndash;</form>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--<div class="col-lg-5">-->
                <!--&lt;!&ndash;<div id="info" class="well">&ndash;&gt;-->
                    <!--&lt;!&ndash;<h3 class="modal-header">Additional info</h3>&ndash;&gt;-->
                    <!--&lt;!&ndash;<h5>Price paid by company: <div style="float: right"><span class="glyphicon glyphicon-eur"></span> <span th:text="${order.amountPaidByCompany}"></span></div></h5>&ndash;&gt;-->
                    <!--&lt;!&ndash;<h5>Price paid by employee: <div style="float: right"><span class="glyphicon glyphicon-eur"></span> <span th:text="${order.amountPaidByEmployee}"></span></div></h5>&ndash;&gt;-->
                    <!--&lt;!&ndash;<h5>Benefit: <div style="float: right"><span class="glyphicon glyphicon-eur"></span> <span th:text="${employeeCar.selectedCar.benefit}"></span></div></h5>&ndash;&gt;-->
                    <!--&lt;!&ndash;<h5 th:if="${functionalLevel > employeeCar.selectedCar.functionalLevel}">Budget for options: <div style="float: right"><span class="glyphicon glyphicon-eur"></span> <span th:text="${employeeCar.selectedCar.amountDowngrade}"></span></div></h5>&ndash;&gt;-->
                    <!--&lt;!&ndash;<h5>Time of delivery in days: <div style="float: right"><span th:text="${employeeCar.selectedCar.timeOfDeliveryInDays.toDays()}"></span></div></h5>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;<div id="caroptions" class="well"  th:if="${employeeCar.carOptions != null and employeeCar.carOptions.size() > 0}">&ndash;&gt;-->
                    <!--&lt;!&ndash;<h3 class="modal-header">Car options</h3>&ndash;&gt;-->
                    <!--&lt;!&ndash;<h4><small>note that these options aren't calculated in the price</small></h4>&ndash;&gt;-->

                    <!--&lt;!&ndash;<div th:each="carOption : ${employeeCar.carOptions}">&ndash;&gt;-->
                        <!--&lt;!&ndash;<h5 th:text="${carOption.description}"></h5>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;<div id="packs" class="well"  th:if="${car.packs.size() > 0}">&ndash;&gt;-->
                    <!--&lt;!&ndash;<h3 class="modal-header">Packs</h3>&ndash;&gt;-->

                    <!--&lt;!&ndash;<div th:each="pack : ${car.packs}">&ndash;&gt;-->
                        <!--&lt;!&ndash;<h4 th:text="${pack.name}"></h4>&ndash;&gt;-->

                        <!--&lt;!&ndash;<div th:each="item : ${pack.items}">&ndash;&gt;-->
                            <!--&lt;!&ndash;<h6 th:text="${item}"></h6>&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<div th:replace="fragments/fragments :: div.scripts"></div>
</body>
</html>