<!DOCTYPE html>
<html manifest="offline.manifest" lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="./fragments/general.fragment :: head"></head>
<body>
<div th:replace="./fragments/general.fragment :: header"></div>
<div id="content">
    <div class="container">
        <div class="row">
            <h1 class="rd-blue" style="padding-left: 15px" th:text="${car.make}"></h1>

            <div class="col-lg-7">
                <div th:replace="./fragments/general.fragment :: error(${error})"></div>
                <th:block th:replace="./fragments/car.detail.fragment :: carDetailMain(${car})"/>
            </div>

            <div class="col-lg-5">
                <a th:if="${canOrderNewCar}" class="btn btn-info btn-lg btn-block" style="margin-bottom: 10px;"
                   th:href="${#mvc.url('OCC#getOrderNewCar').arg(0, car.id).build()}">
                    <span th:text="#{msgRdCarDetail.order}"></span>
                </a>
                <div th:replace="./fragments/car.detail.fragment :: carDetailInfo(${car})"></div>
                <div th:replace="./fragments/car.detail.fragment :: carDetailPacks(${car})"></div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/general.fragment :: div.scripts"></div>
</body>
</html>