<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="./fragments/fragments :: head"></head>
<body>
<div th:replace="./fragments/fragments :: header"></div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-8 view-heading">
                <h1>Order for</h1>
                <h2><span th:text="${car.make}"></span> <span th:text="${car.model}"></span></h2>
            </div>
            <div class="col-sm-4" style="padding-right: 0;">
                <div id="info" class="well" th:if="${carOrder.priceDowngrade != null || carOrder.priceUpgrade != null}">
                    <div th:if="${carOrder.priceDowngrade != null}">
                        <h4 class="modal-header">Price for downgrade</h4>
                        <h5 th:text="${carOrder.priceDowngrade}"></h5>
                    </div>
                    <div th:if="${carOrder.priceUpgrade != null}">
                        <h4 class="modal-header">Price for upgrade</h4>
                        <h5 th:text="${carOrder.priceUpgrade}"></h5>
                    </div>
                </div>
            </div>
            <form action="#" id="carOptionsForm" name="f" th:action="@{/rd/cars/} + ${carOrder.id} + @{/overview}"
                  method="post" class="form-horizontal" th:object="${employeeCar}">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Select options</label>

                    <div class="col-sm-10">
                        <select th:field="*{carOptions}" class="form-control chosen-select" name="carOptions" multiple="multiple"
                                style="width: 100%;">
                            <option th:each="carOption : ${carOptions}" th:value="${carOption.id}"
                                    th:text="${carOption.description}"></option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary" id="submit" name="submit">Confirm order</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
<div th:replace="fragments/fragments :: div.scripts"></div>
<script th:src="@{/js/chosen.jquery.min.js}"></script>
<script th:src="@{/js/prism.js}"></script>
<script>
    $('.chosen-select').chosen();
</script>
</body>
</html>