<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="./fragments/general.fragment :: head"></head>
<body>
<div th:replace="./fragments/general.fragment :: header"></div>
<div id="content">
    <div class="container">
        <div class="row">
            <div class="view-heading">
                <h1>Summary</h1>
                <hr/>
            </div>

            <div class="col-lg-7">
                <div th:replace="./fragments/general.fragment :: error(${error})"></div>
                <th:block th:replace="./fragments/car.detail.fragment :: carDetailMain(${car})"/>
            </div>

            <div class="col-lg-5">
                <form action="#" th:action="@{/rd/cars/submitOrder}" style="margin-bottom: 10px;" method="post">
                    <button type="submit" class="btn btn-info btn-block btn-lg">Confirm</button>
                </form>
                <form action="#" th:action="@{/rd/cars/cancelOrder}" style="margin-bottom: 10px;" method="post">
                    <button type="submit" class="btn btn-danger btn-block btn-lg">Cancel</button>
                </form>
                <div id="info" class="well">
                    <h3 class="modal-header">Additional info</h3>
                    <h5>Price paid by company:
                        <div style="float: right"><span class="glyphicon glyphicon-eur"></span> <span
                                th:text="${order.amountPaidByCompany}"></span></div>
                    </h5>
                    <h5>Price paid by employee:
                        <div style="float: right"><span class="glyphicon glyphicon-eur"></span> <span
                                th:text="${order.amountPaidByEmployee}"></span></div>
                    </h5>
                    <h5>Benefit:
                        <div style="float: right"><span class="glyphicon glyphicon-eur"></span> <span
                                th:text="${employeeCar.selectedCar.benefit}"></span></div>
                    </h5>
                    <h5 th:if="${functionalLevel > employeeCar.selectedCar.functionalLevel}">Budget for options:
                        <div style="float: right"><span class="glyphicon glyphicon-eur"></span> <span
                                th:text="${employeeCar.selectedCar.amountDowngrade}"></span></div>
                    </h5>
                    <h5>Time of delivery in days:
                        <div style="float: right"><span
                                th:text="${employeeCar.selectedCar.timeOfDeliveryInDays.toDays()}"></span></div>
                    </h5>
                </div>
                <div id="caroptions" class="well"
                     th:if="${employeeCar.carOptions != null and employeeCar.carOptions.size() > 0}">
                    <h3 class="modal-header">Car options</h3>
                    <h4>
                        <small>note that these options aren't calculated in the price</small>
                    </h4>

                    <div th:each="carOption : ${employeeCar.carOptions}">
                        <h5 th:text="${carOption.description}"></h5>
                    </div>
                </div>
                <div th:replace="./fragments/car.detail.fragment :: carDetailPacks(${car})"></div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/general.fragment :: div.scripts"></div>
</body>
</html>