<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:fragment="head">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>RDFleet</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link th:href="@{/css/chosen.min.css}" rel="stylesheet"/>
    <!--<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/r/bs-3.3.5/jq-2.1.4,jszip-2.5.0,pdfmake-0.1.18,dt-1.10.9,b-1.0.3,b-html5-1.0.3,r-1.0.7/datatables.min.css"/>-->
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/r/ju-1.11.4/jq-2.1.4,jszip-2.5.0,pdfmake-0.1.18,dt-1.10.9,b-1.0.3,b-html5-1.0.3,r-1.0.7/datatables.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
          integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
          crossorigin="anonymous"/>

</head>
<body>
<div th:fragment="carDetailMain(car)">
    <h3 th:text="${car.model}"></h3>

    <h4><span th:text="#{msgCar.funcLvl}">Functional level</span>: <span th:text="${car.functionalLevel}"></span></h4>

    <br/>
    <table class="table table-striped">
        <tr>
            <td><h6>Tyre type:</h6></td>
            <td th:text="${car.tyreType}"></td>
        </tr>
        <tr>
            <td><h6>Fuel type:</h6></td>
            <td th:text="${car.fuelType}"></td>
        </tr>
        <tr>
            <td><h6>Towing bracket:</h6></td>
            <td>
                <span th:if="${car.towingBracketPossibility}" class="glyphicon glyphicon-ok"></span>
                <span th:if="${!car.towingBracketPossibility}" class="glyphicon glyphicon-remove"></span>
            </td>
        </tr>
        <tr>
            <td><h6>Gps:</h6></td>
            <td>
                <span th:if="${car.gps}" class="glyphicon glyphicon-ok"></span>
                <span th:if="${!car.gps}" class="glyphicon glyphicon-remove"></span>
            </td>
        </tr>
        <tr>
            <td><h6>Bluetooth:</h6></td>
            <td>
                <span th:if="${car.bluetooth}" class="glyphicon glyphicon-ok"></span>
                <span th:if="${!car.bluetooth}" class="glyphicon glyphicon-remove"></span>
            </td>
        </tr>
        <tr>
            <td><h6>co2:</h6></td>
            <td th:text="${car.co2}"></td>
        </tr>
        <tr>
            <td><h6>Fiscal hp:</h6></td>
            <td th:text="${car.fiscHp}"></td>
        </tr>
        <tr>
            <td><h6>Ideal km:</h6></td>
            <td th:text="${car.idealKm}"></td>
        </tr>
        <tr>
            <td><h6>Max km:</h6></td>
            <td th:text="${car.maxKm}"></td>
        </tr>
    </table>
</div>

<div id="info" class="well" th:fragment="carDetailInfo(car)">
    <h3 class="modal-header">Additional info</h3>
    <h4>Price:
        <div style="float: right"><span class="glyphicon glyphicon-eur"></span> <span
                th:text="${car.listPrice}"></span></div>
    </h4>
    <h4>Benefit:
        <div style="float: right"><span class="glyphicon glyphicon-eur"></span> <span
                th:text="${car.benefit}"></span></div>
    </h4>
    <h4>Amount for upgrade:
        <div style="float: right"><span class="glyphicon glyphicon-eur"></span> <span
                th:text="${car.amountUpgrade}"></span></div>
    </h4>
    <h4>Amount for downgrade:
        <div style="float: right"><span class="glyphicon glyphicon-eur"></span> <span
                th:text="${car.amountDowngrade}"></span></div>
    </h4>
    <h4>Time of delivery in days:
        <div style="float: right"><span th:text="${car.timeOfDeliveryInDays.toDays()}"></span></div>
    </h4>
</div>
<div id="packs" class="well" th:fragment="carDetailPacks(car)" th:if="${car.packs != null and car.packs.size() > 0}">
    <h3 class="modal-header">Packs</h3>

    <div th:each="pack : ${car.packs}">
        <h4 th:text="${pack.name}"></h4>

        <div th:each="item : ${pack.items}">
            <h6 th:text="${item}"></h6>
        </div>
    </div>
</div>
</body>
</html>