<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<body>
<div th:fragment="carDetailMain(car)">
    <h3 th:text="${car.model}"></h3>

    <h4><span th:text="#{msgFragmentCarDetail.functional_level}"></span>: <span th:text="${car.functionalLevel}"></span></h4>

    <br/>
    <table class="table table-striped">
        <tr>
            <td><h6><span th:text="#{msgFragmentCarDetail.tyre_type}"></span>:</h6></td>
            <td th:text="#{${'msgFleetCompanyCarDetail.' + car.tyreType}}"></td>
        </tr>
        <tr>
            <td><h6><span th:text="#{msgFragmentCarDetail.fuel_type}"></span>:</h6></td>
            <td th:text="#{${'msgFleetCompanyCarDetail.' + car.fuelType}}"></td>
        </tr>
        <tr>
            <td><h6><span th:text="#{msgFragmentCarDetail.towing_bracket}"></span>:</h6></td>
            <td>
                <span th:if="${car.towingBracketPossibility}" class="glyphicon glyphicon-ok"></span>
                <span th:if="${!car.towingBracketPossibility}" class="glyphicon glyphicon-remove"></span>
            </td>
        </tr>
        <tr>
            <td><h6><span th:text="#{msgFragmentCarDetail.gps}"></span>:</h6></td>
            <td>
                <span th:if="${car.gps}" class="glyphicon glyphicon-ok"></span>
                <span th:if="${!car.gps}" class="glyphicon glyphicon-remove"></span>
            </td>
        </tr>
        <tr>
            <td><h6><span th:text="#{msgFragmentCarDetail.bluetooth}"></span>:</h6></td>
            <td>
                <span th:if="${car.bluetooth}" class="glyphicon glyphicon-ok"></span>
                <span th:if="${!car.bluetooth}" class="glyphicon glyphicon-remove"></span>
            </td>
        </tr>
        <tr>
            <td><h6><span th:text="#{msgFragmentCarDetail.co2}"></span>:</h6></td>
            <td th:text="${car.co2}"></td>
        </tr>
        <tr>
            <td><h6><span th:text="#{msgFragmentCarDetail.fiscal_hp}"></span>:</h6></td>
            <td th:text="${car.fiscHp}"></td>
        </tr>
        <tr>
            <td><h6><span th:text="#{msgFragmentCarDetail.ideal_km}"></span>:</h6></td>
            <td th:text="${#numbers.formatDecimal(car.idealKm, 0, 'DEFAULT', 0, 'DEFAULT')}"></td>
        </tr>
        <tr>
            <td><h6><span th:text="#{msgFragmentCarDetail.max_km}"></span>:</h6></td>
            <td th:text="${#numbers.formatDecimal(car.maxKm, 0, 'DEFAULT', 0, 'DEFAULT')}"></td>
        </tr>
    </table>
</div>

<div id="info" class="well" th:fragment="carDetailInfo(car)">
    <h3 class="modal-header" th:text="#{msgFragmentCarDetail.additional_info}"></h3>
    <h4><span th:text="#{msgFragmentCarDetail.price}"></span>:
        <div style="float: right"><span class="glyphicon glyphicon-eur"></span> <span
                th:text="${#numbers.formatDecimal(car.listPrice, 0, 'DEFAULT', 2, 'DEFAULT')}"></span></div>
    </h4>
    <h4><span th:text="#{msgFragmentCarDetail.benefit}"></span>:
        <div style="float: right"><span class="glyphicon glyphicon-eur"></span> <span
                th:text="${#numbers.formatDecimal(car.benefit, 0, 'DEFAULT', 2, 'DEFAULT')}"></span></div>
    </h4>
    <h4><span th:text="#{msgFragmentCarDetail.amount_upgrade}"></span>:
        <div style="float: right"><span class="glyphicon glyphicon-eur"></span> <span
                th:text="${#numbers.formatDecimal(car.amountUpgrade, 0, 'DEFAULT', 2, 'DEFAULT')}"></span></div>
    </h4>
    <h4><span th:text="#{msgFragmentCarDetail.amount_downgrade}"></span>:
        <div style="float: right"><span class="glyphicon glyphicon-eur"></span> <span
                th:text="${#numbers.formatDecimal(car.amountDowngrade, 0, 'DEFAULT', 2, 'DEFAULT')}"></span></div>
    </h4>
    <h4><span th:text="#{msgFragmentCarDetail.time_of_delivery_days}"></span>:
        <div style="float: right"><span th:text="${car.timeOfDeliveryInDays.toDays()}"></span></div>
    </h4>
</div>
<div id="packs" class="well" th:fragment="carDetailPacks(car)" th:if="${car.packs != null and car.packs.size() > 0}">
    <h3 class="modal-header" th:text="#{msgFragmentCarDetail.packs}"></h3>

    <div th:each="pack : ${car.packs}">
        <h4 th:text="${pack.name}"></h4>

        <div th:each="item : ${pack.items}">
            <h6 th:text="${item}"></h6>
        </div>
    </div>
</div>
</body>
</html>