<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:fragment="head">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>RDFleet</title>
    <link th:href="@{/css/bootstrap-3.0.3.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link th:href="@{/css/chosen.min.css}" rel="stylesheet"/>
    <!--<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/r/bs-3.3.5/jq-2.1.4,jszip-2.5.0,pdfmake-0.1.18,dt-1.10.9,b-1.0.3,b-html5-1.0.3,r-1.0.7/datatables.min.css"/>-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/r/ju-1.11.4/jq-2.1.4,jszip-2.5.0,pdfmake-0.1.18,dt-1.10.9,b-1.0.3,b-html5-1.0.3,r-1.0.7/datatables.min.css"/>

</head>
<body>
<div class="navbar navbar-default" th:fragment="header">
    <div class="container">
        <a class="navbar-brand" th:href="@{/index}"><span class="rd-red">RD</span><span class="rd-blue">Fleet</span></a>

        <ul class="nav navbar-nav">
            <li><a sec:authorize="hasRole('ROLE_RDEMPLOYEE')" th:href="@{/rd/cars}">Browse cars catalog</a></li>
            <li><a id="orderCarCatalog" sec:authorize="hasRole('ROLE_RDEMPLOYEE')" th:href="@{/rd/cars?type=order}">Order cars catalog</a></li>
            <li><a sec:authorize="hasRole('ROLE_FLEETEMPLOYEE')" th:href="@{/fleet/cars}">Car models</a></li>
            <li><a sec:authorize="hasRole('ROLE_FLEETEMPLOYEE')" th:href="@{/fleet/company-cars}">Company cars</a></li>
            <li><a sec:authorize="hasRole('ROLE_FLEETEMPLOYEE')" th:href="@{/fleet/options}">Car options</a></li>
            <li><a sec:authorize="hasRole('ROLE_FLEETEMPLOYEE')" th:href="@{/fleet/employees}">Employees</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li><a sec:authorize="isAuthenticated()">Welcome, <span sec:authentication="name"></span></a></li>
            <li><a sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a></li>
            <li><a sec:authorize="!isAuthenticated()" th:href="@{/login}">Login</a></li>
        </ul>
        <div style="visibility: hidden" sec:authorize="isAuthenticated()"><span id="useremail" sec:authentication="name"></span></div>
    </div>
</div>
<div class="page-header text-center" id="page-header">
    <h1><span class="rd-red">Real</span><span class="rd-blue">Dolmen</span> Fleet</h1>
    <p class="lead">Welcome to the <span class="rd-red">RD</span><span class="rd-blue">Fleet</span> application!</p>
</div>
<div class="scripts" th:remove="tag">
    <script th:src="@{/js/jquery-2.0.2.min.js}"></script>
    <script th:src="@{/js/bootstrap-3.0.3.min.js}"></script>
    <script th:src="@{/js/jszip.min.js}"></script>
    <script th:src="@{/js/pdfmake.min.js}"></script>
    <script th:src="@{/js/vfs_fonts.js}"></script>
    <!--<script type="text/javascript" src="https://cdn.datatables.net/r/bs-3.3.5/jq-2.1.4,jszip-2.5.0,pdfmake-0.1.18,dt-1.10.9,b-1.0.3,b-html5-1.0.3,r-1.0.7/datatables.min.js"></script>-->

    <script type="text/javascript" src="https://cdn.datatables.net/r/ju-1.11.4/jq-2.1.4,jszip-2.5.0,pdfmake-0.1.18,dt-1.10.9,b-1.0.3,b-html5-1.0.3,r-1.0.7/datatables.min.js"></script>
    <script th:src="@{/js/jquery.dataTables.columnFilter.js}"></script>

    <script type="text/javascript">
        $(document).load(function () {
            var email = $('#useremail').text();
            if(email !== '') {
                $.ajax({
                    method:'get',
                    url:'/api/canOrderCar/' + email,
                    success: function(data) {
                        if(data) {
                            $('#orderCarCatalog').show();
                        }
                        else {
                            $('#orderCarCatalog').hide();
                        }
                    }
                });
            }
        });
    </script>
</div>
<script>
</script>
</body>
</html>