<!DOCTYPE html>
<html manifest="offline.manifest" lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<body>
<div th:fragment="employeeTable(rdEmployee)">
    <table class="table table-striped table-hover" id="employeeTable">
        <thead>
        <tr>
            <th th:text="#{msgFleetEmployeeList.first_name}"></th>
            <th th:text="#{msgFleetEmployeeList.last_name}"></th>
            <th th:text="#{msgFleetEmployeeList.functional_level}"></th>
            <th th:text="#{msgFleetEmployeeList.current_car}"></th>
            <th class="text-right" th:text="#{msgFleetEmployeeList.car_history}"></th>
            <th class="text-right" th:text="#{msgFleetEmployeeList.remove_from_service}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="rdEmployee : ${employeeList}">
            <td th:text="${rdEmployee.firstName}"></td>
            <td th:text="${rdEmployee.lastName}"></td>
            <td>
                <a class="btn btn-info btn-xs"
                   th:href="${#mvc.url('REMC#decrementFunctionalLevel').arg(0, rdEmployee.id).build()}">-</a>
                <span th:text="${rdEmployee.functionalLevel}"></span>
                <a class="btn btn-info btn-xs"
                   th:href="${#mvc.url('REMC#incrementFunctionalLevel').arg(0, rdEmployee.id).build()}">+</a>
            </td>
            <td>
                <div th:if="${rdEmployee.currentOrder != null}">
                    <a th:href="${#mvc.url('ECMC#viewEmployeeCar').arg(0, rdEmployee.id).build()}"
                       th:title="#{msgFleetEmployeeList.view_more_information_about_emp_car}">
                                    <span th:style="${rdEmployee.currentOrder.orderedCar.CarStatus == T(com.realdolmen.rdfleet.domain.CarStatus).PENDING} ? 'color:red'" th:if="${rdEmployee.currentOrder.orderedCar.licensePlate != null and !rdEmployee.currentOrder.orderedCar.licensePlate.isEmpty()}"
                                          th:text="${rdEmployee.currentOrder.orderedCar.licensePlate}"></span>
                                    <span th:if="${rdEmployee.currentOrder.orderedCar.licensePlate == null or rdEmployee.currentOrder.orderedCar.licensePlate.isEmpty()}"
                                          style="color: red" th:text="#{msgFleetEmployeeList.pending_request}"></span>
                    </a>
                </div>
                <div th:if="${rdEmployee.currentOrder == null}">
                    <span th:text="#{msgFleetEmployeeList.no_car_assigned}"></span>
                </div>
            </td>
            <td class="text-right"><a class="btn btn-info btn-xs"
                                      th:href="${#mvc.url('ECMC#viewEmployeeCarHistory').arg(0, rdEmployee.id).build()}">
                <span th:text="#{msgFleetEmployeeList.view_history_details}"></span>
            </a></td>
            <td class="text-right"><a class="btn btn-danger btn-xs"
                                      th:href="${#mvc.url('REMC#removeFromService').arg(0, rdEmployee.id).build()}">
                <span th:text="#{msgFleetEmployeeList.remove_from_service}"></span>
            </a></td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <th th:text="#{msgFleetEmployeeList.first_name}"></th>
            <th th:text="#{msgFleetEmployeeList.last_name}"></th>
            <th th:text="#{msgFleetEmployeeList.functional_level}"></th>
            <th th:text="#{msgFleetEmployeeList.current_car}"></th>
            <th class="text-right" th:text="#{msgFleetEmployeeList.car_history}"></th>
            <th class="text-right" th:text="#{msgFleetEmployeeList.remove_from_service}"></th>
        </tr>
        </tfoot>
    </table>
</div>
</body>
</html>